* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

/* header */
header {

}
/* footer */
footer {

}
/* main */
main {
    min-height: 100vh;
    max-width: min(800px, 100vw);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}