.item {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 4px 4px hsla(0, 0%, 80%, 0.2);

    display: flex;
    flex-direction: column;
    row-gap: 12px;

    transition: .1s linear;
}


.author {
    text-align: right;
    font-size: smaller;
}