.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}
.profile img {
    border-radius: 100%;
    box-shadow: 0 0 2px 2px hsla(0, 0%, 80%, .5);
}
.email {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.email span {
    margin-right: 5px;
}
.email a {
    color: #333;
}
.email a:hover {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    color: black;
}