.header nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid #eee;
    box-shadow: 0 5px 10px 10px hsla(0, 0%, 80%, .3);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.header ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: white;
    color: black;
    box-shadow: 0 0 4px 4px hsla(0, 0%, 80%, 0.2);

    transition: .1s linear;
}

.item__inner {
    padding: 20px;
}

.item:hover {
    box-shadow: 0 0 4px 4px hsla(0, 0%, 50%, 0.5);
    transform: scale(100.1%);
}
.author {
    text-align: right;
    font-size: smaller;
}